# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.eggs/
dist/
sdist/
*.egg-info/
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written into a _MEIPASS folder, but if we
#  did not use --onefile, then they will be in the dist folder.
_MEIPASS/
_MEIPASS*/
dist/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project
.spyderproject
.spyproject

# Rope project
.ropeproject

# mkdocs
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype
.pytype/

# celery beat schedule file
celerybeat-schedule

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code
.vscode/

##Pydantic use
pydantic_use/